nav {
    background-color: #445CD5;
}

.landing-page {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}

.why-us button{
    border-color: #445CD5;
    background-color: white;
}

.footer{
    background-color: #EBEBF8;
}

li{
    list-style-type: none;
}